rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access to properties images
    match /properties/{allPaths=**} {
      allow read, write: if true; // Allow all access for now
    }
    
    // Allow read and write access to test images
    match /test-images/{allPaths=**} {
      allow read, write: if true; // Allow all access for now
    }
    
    // Allow read and write access to test files
    match /test/{allPaths=**} {
      allow read, write: if true; // Allow all access for now
    }
    
    // Deny all other access
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}

